// Assets
.grey { color: $grey; }
.white { color: $white; }
.yellow { color: $yellow; }

.lead {
  font-weight: 300;
  color: $grey;
}

.margin-0 { margin: 0; }

p { margin: 1.25rem 0; }
a {
  color: $orange;
  &:hover, &:focus {
    text-decoration: none;
  }
}
.heading { color: $black; }
.heading-primary { color: $darkest-grey; }
.heading-secondary { color: $darker-grey; }

// Forms
label {
  color: $darkest-grey;
}
.field {
  width: 100%;
  padding: 8px;
  border: 1px solid $light-grey;
  transition: all .3s;
  &:focus {
    border-color: $black;
    outline: 0;
  }
}

// Buttons
.button {
  font-family: $base-heading-font-family;
  font-size: 13px;
  line-height: 18px;
  padding: 16px 20px;
  font-weight: 600;
  border-color: transparent;
  text-transform: uppercase;
  text-align: center;
  min-width: 200px;
  text-decoration: none;
  cursor: pointer;
  transition: all .3s;
}
.button-primary {
  background: $yellow;
  color: $black;
}
.button-secondary {
  background: $white;
  color: $dark-grey;
  &:hover { background: $lightest-grey; }
}
.button-outline {
  background: transparent;
  border: 3px solid $grey;
  color: $grey;
  &:hover {
    background: transparent;
    color: $dark-grey;
    border-color: $dark-grey;
  }
}
.heading {
  display: block;
  color: $dark-grey;
  &:after {
    content: "";
    width: 14px;
    height: 2px;
    display: block;
    background: $dark-grey;
    margin-top: 10px;
  }
}