// Carousel
.carousel { position: relative; }
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  & > .item {
    position: relative;
    display: none;
    & > .image {
      display: block;
    }
  }
}

@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    transition: transform .6s ease-in-out;
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.slide-right {
    left: 0;
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.slide-left {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.slide-left,
  .carousel-inner > .item.prev.slide-right,
  .carousel-inner > .item.active {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active { left: 0; }
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next { left: 100%; }
.carousel-inner > .prev { left: -100%; }
.carousel-inner > .next.slide-left,
.carousel-inner > .prev.slide-right {
  left: 0;
}
.carousel-inner > .active.slide-left { left: -100%; }
.carousel-inner > .active.slide-right { left: 100%; }

// Indicators